{% extends 'base.html' %}{% block content %}
<form method="post" action="">
  {% csrf_token %}
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" class="col-md-12">
            <form id="login-form" class="form" action="" method="post">
              <h3 class="text-center text-info">Register</h3>
              <div class="form-group">
                <label for="username" class="text-info">{{form.username.label}}:</label><br />
                {{form.username}}
              </div>
              <div class="form-group">
                <label for="username" class="text-info">{{form.email.label}}:</label><br />
                {{form.email}}
              </div>
              <div class="form-group">
                <label for="password1" class="text-info">{{form.password1.label}}:</label><br />
                {{form.password1}}
              </div>
              <div class="form-group">
                <label for="password2" class="text-info">{{form.password2.label}}:</label><br />
                {{form.password2}}
              </div>
              <div class="form-group mt-5">
                <input type="submit" name="submit" class="btn btn-primary btn-md" value="submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
